
source/.vs/ProjectSettings.json
source/.vs/slnx.sqlite
source/.vs/source/v15/.suo
source/.vs/source/v15/Browse.VC.db
source/.vs/source/v15/Browse.VC.opendb
source/.vs/source/v15/ipch/AutoPCH/48974d6cc6661d91/BUILDING.ipch
source/.vs/source/v15/ipch/AutoPCH/82e015eabf43e572/BUILDING.ipch
AutoCity.xcodeproj/project.xcworkspace/xcuserdata/sergio.xcuserdatad/UserInterfaceState.xcuserstate
